doctype
html
  head
    title title!!!
    // CSS init
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" media="all" href="bundle.css")
    //script(type="text/javascript" src="require.js")

  body
    #content

    script(type="text/javascript" src="https://fb.me/react-0.13.3.js")
    script(type="text/javascript" src="bundle.js")
    script(type="text/javascript" src="react-bundle.js")