doctype
html
  head
    title title!!!
    // CSS init
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" media="all" href="bundle.css")
    script(type="text/javascript" src="react.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react-router/0.13.3/ReactRouter.min.js")
    //script(type="text/javascript" src="require.js")

  body
    #content

    script(type="text/javascript" src="react-bundle.js")
    script(type="text/javascript" src="bundle.js")