doctype
html
  head
    title title!!!

    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='wings-icon/css/wings-embedded.css')
    link(rel="stylesheet" media="all" href="bundle.css")
  body
    #application !{staticContent}

    script(type="text/javascript" src="lib/jquery/dist/jquery.js")
    script(type="text/javascript" src="lib/react/react.js")
    script(type="text/javascript" src="lib/flux/dist/Flux.js")
    script(type="text/javascript" src="lib/reactRouter.js")
    script(type="text/javascript" src="lib/eventEmitter.js")
    script(type="text/javascript" src="bundle.js")
    script(type="text/javascript" src="react-bundle.js")