@import "../variable"; @import "../mixins"

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,600italic,800")

body, body
  margin 0; color default-font-color
  font-family font-face
  font-size 14px

html, body
  height 100%

input
  font-family font-face
  outline none; color default-font-color

*
  box-sizing border-box