@import "../variable"; @import "../mixins"
user-config-size = 65px

#kernel-addon
  padding-bottom user-config-size
  background-color root-addon-bg
  color root-addon-color
  box-shadow inset -78px 0px 18px -76px rgba(0,0,0,0.6)
  position relative

#kernel-addon .user-configs
  background-color root-addon-bg-dark
  position absolute; bottom 0; height user-config-size; width 100%
  user-select none
